.page-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-evenly;
    flex-grow: 1;
    font-family: 'orbitron', sans-serif;
}

.page-title {
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    text-shadow: 1px 2.5px rgb(52, 160, 155);
    margin-bottom: 30px;
}

.icon-image {
    height: 20px;
    width: 20px;
}

.section-title {
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 2px rgb(73, 121, 119);
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
}

.section-description {
    margin-bottom: 10px;
    padding: 20px;
    border: 2px dotted rgb(62, 248, 93);
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: rgba(35, 114, 114, 50%);
    text-shadow: 1px 2px black;
}