.planet-container {
    position: relative;
    width: 100%;
    height: 620px;
    display: flex;
}

.planet {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positioning-circle {
    position: absolute;
    display: inline;
    border: 5px solid greenyellow;
    width: 540px;
    height: 540px;
    left: 50px;
    border-radius: 50%;
    top: 90px;
}

.planet:nth-child(1) {
    top: 0px;
    left: calc(50% - 100px);
}

.planet:nth-child(2) {
    top: 85px;
    left: 25px;
}

.planet:nth-child(8) {
    top: 85px;
    right: 25px;
}

.planet:nth-child(3) {
    top: 250px;
    left: -45px;
}

.planet:nth-child(7) {
    top: 250px;
    right: -45px;
}

.planet:nth-child(4) {
    top: 440px;
    left: 25px;
}

.planet:nth-child(6) {
    top: 440px;
    right: 25px;
}

.planet:nth-child(5) {
    top: 540px;
    left: calc(50% - 100px);
}

.planet img {
    width: 100px;
    height: 100px;
    z-index: 1;
}

.planet-image:hover {
    cursor: pointer;
    scale: 1.05;
}

.planet-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    width: 150px;
    text-align: center;
    gap: 5px;
    z-index: 5;
    background-color: rgba(45, 131, 153, 0.308);
    padding: 5px;
    border-radius: 10px;
    border-bottom: 3px solid rgb(0, 255, 234);
    pointer-events: none;
}

.planet-name {
    font-size: 1.8rem;
    text-shadow: 1px 2px black;
    z-index: 10;
    pointer-events: none;
}

.population-info {
    font-size: 1.2rem;
    pointer-events: none;
    text-shadow: 1px 2px black;
}

.Mercury-shadow,
.Venus-shadow,
.Earth-shadow,
.Mars-shadow,
.Jupiter-shadow,
.Saturn-shadow,
.Uranus-shadow,
.Neptune-shadow {
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.planet-spacecrafts-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: center;
    bottom: 10px;
}

.planet-spacecraft {
    position: relative;
    width: 60px;
}

.planet-spacecraft img {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgba(45, 171, 180, 0.788);
    border-radius: 50%;
    padding: 5px;
}

.planet-spacecrafts-container img:hover {
    scale: 1.1;
    cursor: pointer;
    background-color: rgba(37, 207, 88, 0.863);
}