.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
  background-image: url("./images/starryBackground.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app__header,
.app__main,
.app__footer {
  width: 100%;
  max-width: 64rem;
  display: inherit;
}

.app__header,
.app__footer {
  height: 6rem;
  margin: 3rem 6rem;
}

.app__main {
  min-height: calc(100vh - 24rem);
}

@media only screen and (max-width: 730px) {

  .app__header,
  .app__footer {
    margin: 0px;
  }

  .app__footer {
    margin-left: 10px;
    margin-right: 10px;
    scale: .9;
  }

  .app__main {
    min-height: calc(100vh - 14rem);
  }
}